#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[quad_gantry_level]

gantry_corners:
	-60,-10
	410,420

	#-60,-10    Old
	#410,420    Old
#	Probe points
points:
    50,50
    50,300
    300,300
    300,50


#	OLD Probe points
#points:
#    30,40
#    30,320
#    320,320
#    320,40
#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 2
retries: 5
retry_tolerance: 0.01
max_adjust: 10

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=True
    BED_MESH_CLEAR
    # If QGL has not been done yet, correct for any major skew first
    # at 8mm height
    {% if not printer.quad_gantry_level.applied %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=8 retry_tolerance=1      
    {% endif %}
    # Complete with a full QGL at the configured height
    _QUAD_GANTRY_LEVEL
    SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=False
    RESTORE_GCODE_STATE NAME=STATE_QGL MOVE=0

