#####################################################################
# 	Input shaper
#####################################################################
[resonance_tester]
probe_points: 175, 180, 20
accel_chip: lis2dw
#accel_chip: beacon

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

#####################################################################
#   Input shaper
#################  old ldo steppers  ####################################################

#[input_shaper]     #old ldo steppers
### X ###   max accel: 8800
#shaper_type_x: mzv           
#shaper_freq_x: 54.8           
#damping_ratio_x: 0.073       

### Y ###   max accel: 5250
#shaper_type_y: mzv            
#shaper_freq_y: 42.4            
#damping_ratio_y: 0.054          

#################  Super Power Steppers  ####################################################

[input_shaper]
### X ###   max accel: 6610
shaper_type_x: mzv           
shaper_freq_x: 47.4           
damping_ratio_x: 0.094       

### Y ###   max accel: 3960
shaper_type_y: mzv            
shaper_freq_y: 36.8            
damping_ratio_y: 0.064  