[include macros/*.cfg]
[include configs/*.cfg]
#[include mainsail.cfg]
[include config_backup.cfg]

[delayed_gcode my_delayed_gcode]
initial_duration: 0.1
gcode:
    _set_sb_leds_by_name leds="logo" color="standby" transmit=0
    _set_sb_leds_by_name leds="nozzle" color="standby" transmit=1
    SET_LED LED=case_leds GREEN=1 RED=1 BLUE=1


#[gcode_arcs]
#resolution: 0.1

[skew_correction] 

# Enable exclude object
[exclude_object]
# Enable arcs support

[display_status]

[pause_resume]

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_41000F000450315741363420-if00

[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340410394A1C-if00
restart_method: command

[mcu]
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor
##	[E in MOTOR6] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_20001D000A5053424E363420-if00
#restart_method: command
##--------------------------------------------------------------------

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[printer]
kinematics: corexy
max_velocity: 500 
max_accel: 4000               # Conservative limit from the current Y input-shaper result
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>




[respond]
default_type: echo


[idle_timeout]
timeout: 1800
gcode:
    M118 Idle timeout: heaters and motors turned off
    CAMERA_OFF
    TURN_OFF_HEATERS
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = -0.456
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 46.849
#*# pid_ki = 1.805
#*# pid_kd = 303.930
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUC+6iZ3kLfc/9fJcINJd/j+ftKrub1LwP91sSOlJTew/tKDjcoL46L/+SB0Ay9z6v9boh3I3BfU/XlxBQ7GPAUD7WHuuoVfgv/qlgLrrI+q/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQBraSStcUlT4/YYoJNTmVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQUhlB4E3gG0Cxd4hGhccKQJWtthnIWPw/lCwk/dYVFUAS4uLFkFuXv89yHO3guTDA+5Pa8rCpBUCe1Tpl34k5QMOxf8h4Mvq/DmVpXllzKMCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEJd3q33tN5U+o299DIZClT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DkDlC64y6VPuhE67Sbig4+HlKWyYHi9r1nKuypJQn3PVUS0t4r8fq9MyFR3j2NAr5vdc1aq475PT7Rg342rwo+QyRjklqX3r2oJYxSN437vZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQgGOI5JAcWT+28rEsVesTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/WRyQ5IhjgEdALgAAAAAAAGWMB2ZfcmFuZ2WUXZQoR0FIFTvq0ugAR0FISWvBJ+AAZYwCZGOUSw91Lg==
