[gcode_macro _CG28]

gcode:
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28

    {% elif "xyz" in printer.toolhead.homed_axes %}
        clean_nozzle
        M109 S150
        G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    {% endif %}

[gcode_macro Load_filament]
gcode:
    G1 Z15 F3000
    G1 X310 Y3 F10000
    M109 S245
    G92 E0
    G1 E100 F300
    G92 E0
    G1 E100 F300
    G92 E0
    G1 E15 F300
    G92 E0    
    G1 E-15 F300
    clean_nozzle
[gcode_macro Load_filament_210]
gcode:
    G1 Z15 F3000
    G1 X310 Y3 F10000
    M109 S210
    G92 E0
    G1 E50 F300
    G92 E0
    G1 E50 F300
    G92 E0
    G1 E-15 F300
    clean_nozzle

[gcode_macro Load_filament_250]
gcode:
    G1 Z15 F3000
    G1 X310 Y3 F10000
    M109 S250
    G92 E0
    G1 E50 F300
    G92 E0
    G1 E50 F300
    G92 E0
    G1 E-15 F300
    clean_nozzle

[gcode_macro Unload_filament]
gcode:
    M109 S245
    G92 E0
    G1 E-50 F300
    G92 E0
    G1 E-50 F300
    G92 E0
    G1 E-50 F300
    G92 E0

[gcode_macro Unload_filament_210]
gcode:
    M109 S210
    G92 E0
    G1 E-50 F300
    G92 E0
    G1 E-50 F300
    G92 E0
    G1 E-50 F300
    G92 E0

[gcode_macro Unload_filament_250]
gcode:
    M109 S250
    G92 E0
    G1 E-50 F300
    G92 E0
    G1 E-50 F300
    G92 E0
    G1 E-50 F300
    G92 E0

[gcode_macro Prime_Test]
gcode:
    #G32                            ; home all axes
    G92 E0                          ; Resetting Extruder
    G1 Z20 F1000                    ; move nozzle away from bed
    G1 X2 Y10 F3000                  ; Move to start priming point
    G1 Z0.15 F1000                  ; Moving Nozzle 0.2mm over bed
    G92 E0                          ; Resetting Extruder
    G1 Y310 E30 F3000               ; Making the first line
    G1 X2.4 Y310 F3000              ; Moving to next prime line
    G1 Y10 E50 F3000                 ; Making the next prime line
    M106 S255                       ; Starting part cooling fan
    G92 E0                          ; Resetting Extruder
    G1 E15 F350                     ; Making a Blob To Remove Oozing
    G1 Z1 F1000                     ; Moving a little up
    G1 E30 F350                     ; Makeing more to the blob
    G1 Z2 F1000                     ; Moving a little up
    G1 E45 F350                     ; Making more to the blob
    G1 Z5 F2000                     ; Moving fast up
    G1 X3 F3000                     ; Moving a little to the side
    G1 Z2 F2000                     ; Moving fast down
    G1 X3.5 F3000                   ; Moving a little again to remove the last ooze
    G1 Z10 F2000                    ; Moving fast up
    M106 S0                         ; Stopping part cooling fan
    G1 X175 Y175 F5000
    G92 E0                          ; Resetting extruder


[gcode_macro Bed_Mesh]
gcode:
    _CG28
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=60C
    BED_MESH_PROFILE LOAD=60C
    #SAVE_CONFIG

[gcode_macro G32] #Home axes, QGL and clean nozzle
gcode:
    _CG28
    clean_nozzle  ; Cleaning nozzle
    BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=60C
    BED_MESH_PROFILE LOAD=60C                 
    #CALIBRATE_Z                     ; Calbibrate Z offset
    ##	Uncomment for for your size printer:
    #--------------------------------------------------------------------    
    ##	Uncomment for 350mm build
    G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------
   

#####################################################################
#   A better print_start macro for v2/trident
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Nevermore (if you have one)
## Z_TILT_ADJUST (For Trident only)
## QUAD_GANTRY_LEVEL (For V2.4 only)
## Beacon Contact logic (if you have one. 4 lines at 4 locations)

[gcode_macro PRINT_START]
description: Heat, clean, level, mesh and purge before a print
gcode:
  {% set target_bed = params.BED|float %}
  {% set target_extruder = params.EXTRUDER|float %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
  {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set soak_seconds = params.SOAK|default("60")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  CAMERA_ON
  CLEAR_PAUSE
  BED_MESH_CLEAR
  G90

  # Start both heaters early, but keep the nozzle at a non-oozing cleaning temperature.
  M140 S{target_bed}
  M104 S150
  SET_DISPLAY_TEXT MSG="Homing"
  G28

  SET_DISPLAY_TEXT MSG="Bed: {target_bed|int}c"
  G1 X{x_wait} Y{y_wait} Z15 F9000
  M190 S{target_bed}

  {% if target_bed > 90 and target_chamber_wait > 0 %}
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber_wait}c"
    TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber_Back" MINIMUM={target_chamber_wait}
  {% elif soak_seconds > 0 %}
    SET_DISPLAY_TEXT MSG="Bed soak: {soak_seconds}s"
    G4 P{soak_seconds * 1000}
  {% endif %}

  # A clean, warm nozzle is essential for Eddy NG's physical tap.
  SET_DISPLAY_TEXT MSG="Cleaning nozzle"
  M109 S150
  CLEAN_NOZZLE

  SET_DISPLAY_TEXT MSG="Quad gantry level"
  QUAD_GANTRY_LEVEL
  G1 X{x_wait} Y{y_wait} Z15 F9000
  PROBE_EDDY_NG_TAP

  SET_DISPLAY_TEXT MSG="Adaptive bed mesh"
  BED_MESH_CALIBRATE ADAPTIVE=1

  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder|int}c"
  G1 X{x_wait} Y{y_wait} Z15 F9000
  M107
  M109 S{target_extruder}

  SET_DISPLAY_TEXT MSG="Purging"
  PURGE_LINE
  SET_DISPLAY_TEXT MSG="Printing"


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    SET_GCODE_OFFSET Z=0
    BED_MESH_CLEAR

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    CAMERA_OFF
    
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  M400
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G92 E0
    G1 E-2.0 F1800
  {% endif %}
  TURN_OFF_HEATERS
  M107
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G0 Z2 F3000
    G90
    G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y - 10} F6000
  {% endif %}
  PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
  SET_GCODE_OFFSET Z=0
  BED_MESH_CLEAR
  CAMERA_OFF
  CANCEL_PRINT_BASE




[gcode_macro PURGE_LINE]
description: Reliable front purge line; tune the variables below if needed
variable_start_x: 20.0
variable_start_y: 5.0
variable_line_length: 120.0
variable_purge_amount: 25.0
variable_purge_height: 0.40
gcode:
  {% set x_min = printer.toolhead.axis_minimum.x|float + 5.0 %}
  {% set x_max = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_min = printer.toolhead.axis_minimum.y|float + 5.0 %}
  {% set y_max = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set x_start = [[start_x|float, x_min]|max, x_max]|min %}
  {% set y_start = [[start_y|float, y_min]|max, y_max]|min %}
  {% set x_end = [x_start + line_length|float, x_max]|min %}
  {% set wipe_x = [x_end + 8.0, x_max]|min %}

  {% if x_end - x_start < 60.0 %}
    {action_raise_error("PURGE_LINE has less than 60 mm of safe X travel")}
  {% endif %}

  SAVE_GCODE_STATE NAME=PURGE_LINE_STATE
  G90
  M83
  G0 X{x_start} Y{y_start} Z5 F12000
  G1 Z{purge_height} F600
  G1 E3 F300
  G1 X{x_end} E{purge_amount} F1200
  G1 E-0.8 F1800
  G0 X{wipe_x} F6000
  G1 Z2 F1200
  G92 E0
  RESTORE_GCODE_STATE NAME=PURGE_LINE_STATE MOVE=0
