#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	CPAP FAN
pin: PD14
max_power: 0.8 
shutdown_speed: 0 
cycle_time: 0.005 
hardware_pwm: False 
kick_start_time: 0.100 
off_below: 0.1 

#[fan]
##	Print Cooling Fan
#pin: EBBCan: PB14
#cycle_time: 0.010
#kick_start_time: 0.200
#shutdown_speed: 0
#hardware_pwm: false
#tachometer_pin: EBBCan: PB15
#tachometer_ppr: 2
#tachometer_poll_interval: 0.0015
#off_below: 0.0

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: EBBCan: PA1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0


[temperature_fan Pi_cpu]
# Fan for Raspberry Pi CPU cooling
pin: PD12
hardware_pwm: true
control: pid
sensor_type: temperature_host  # Brug direkte 'temperature_host' til Raspberry Pi
min_temp: 0
max_temp: 80

pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
pid_deriv_time: 2.0

min_speed: 0.1
max_speed: 0.6
target_temp: 45


[temperature_fan Printer_cpu]
# Fan for Printer MCU cooling
pin: PE5
hardware_pwm: true
control: pid
sensor_type: temperature_mcu  # Brug direkte 'temperature_mcu' til Printer MCU
min_temp: 0
max_temp: 80

pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
pid_deriv_time: 2.0

min_speed: 0.1
max_speed: 0.6
target_temp: 45


############### Config options ##################

[gcode_macro bedfanvars]
variable_threshold: 110		# If bed temp target is above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
variable_fast: 1.0		# Fan speed once bed temp is reached  
variable_slow: 0.6		# Fan speed while bed is heating
gcode:

########## Bed Fans #########

[fan_generic BedFans]
pin: PD13
#cycle_time: 0.05
kick_start_time: 0.5

########## Aliases #########

[gcode_macro BedFansSlow]
gcode:
	# Vars
	{% set SLOW = printer["gcode_macro bedfanvars"].slow|float %}
	
	SET_FAN_SPEED FAN=BedFans SPEED={SLOW}

[gcode_macro BedFansFast]
gcode:
	# Vars
	{% set FAST = printer["gcode_macro bedfanvars"].fast|float %}
	
	SET_FAN_SPEED FAN=BedFans SPEED={FAST}

[gcode_macro BedFansOff]
gcode:
	SET_FAN_SPEED FAN=BedFans SPEED=0

############ Command overrides ############

# Override, set fan speeds to low and start monitoring loop.
[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: _SET_HEATER_TEMPERATURE
gcode:
	# Parameters
	{% set HEATER = params.HEATER|default("None") %}
	{% set TARGET = params.TARGET|default(0)|int %}
	# Vars
	{% set THRESHOLD = printer["gcode_macro bedfanvars"].threshold|int %}
	
	{% if HEATER|lower == "extruder" %}
		M104 S{TARGET}
	{% elif HEATER|lower == "heater_bed" %}
		M99140 S{TARGET}
	{% else %}
		{action_respond_info("Heater %s not supported" % HEATER)}
	{% endif %}

	# Set fans to low if heater_bed temp is requested above threshold temp, and kick off monitoring loop.
	{% if HEATER|lower == "heater_bed" %}
		{% if TARGET >= THRESHOLD %}
			BedFansSlow
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=1
		{% else %}
			BedFansOff
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=0 #	Cancel bed fan loop if it's running
		{% endif %}
	{% endif %}
	
# Override M190 (Wait for Bed Temperature)
# As a bonus, use TEMPERATURE_WAIT so we don't have to wait for PID to level off.
[gcode_macro M190]
rename_existing: M99190
gcode:
	# Parameters
	{% set S = params.S|int %}
	# Vars
	{% set THRESHOLD = printer["gcode_macro bedfanvars"].threshold|int %}
	
	{% if S >= THRESHOLD %}
		BedFansSlow																# >= Threshold temp: Low speed fans while heating 
	{% else %}
		BedFansOff																# < Threshold temp: Turn bed fans off
	{% endif %}                                        

	M140 {% for p in params
	  %}{'%s%s' % (p, params[p])}{%
	  endfor %}																	# Set bed temp
	  
	{% if S != 0 %}
		TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S|int} MAXIMUM={S|int + 5}	# Wait for bed temp within 5 degrees
	{% endif %}

	# Post-heating fan speeds
	{% if S >= THRESHOLD %}								    
		BedFansFast																# >= Threshold temp: Higher speed fans after heating finished
	{% endif %}
	
# Replace M140 (Set Bed Temperature) to just be an alias of SET_HEATER_TEMPERATURE (which has associated bed fan logic if enabled)
[gcode_macro M140]
rename_existing: M99140
gcode:
	# Parameters
	{% set S = params.S|float %}
	
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={S}
	
# Replace TURN_OFF_HEATERS
[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
	BedFansOff
	_TURN_OFF_HEATERS
	
################ Monitoring loop #####################

# Turns bed fans to "fast" speed once target bed temp is reached.
[delayed_gcode bedfanloop]
gcode:
	# Vars
	{% set THRESHOLD = printer["gcode_macro bedfanvars"].threshold|int %}
	
	{% if printer.heater_bed.target >= THRESHOLD %}								# Continue only if target temp greater than threshold.
		{% if printer.heater_bed.temperature|int >= (printer.heater_bed.target|int - 1) %}
			BedFansFast															# If within 1 degree of target temp: Higher speed fans
		{% else %}
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=5						# If temp not reached yet: loop again
		{% endif %}
	{% endif %}
