#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.8
min_temp: 0
max_temp: 120
# Reduces or eliminates light flickering. Formula is 1 / (Electrical frequency of your location in Hz)
pwm_cycle_time: 0.0166
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769